Adafruit-Blinka==3.10.0
adafruit-circuitpython-busdevice==4.1.4
adafruit-circuitpython-gps==3.5.2
Adafruit-PlatformDetect==2.2.0
Adafruit-PureIO==1.0.4
cffi==1.14.0
cheroot==8.3.0
CherryPy==18.6.0
cryptography==3.2
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.1
jaraco.text==3.2.0
Jinja2==2.11.2
MarkupSafe==1.1.1
more-itertools==8.4.0
paho-mqtt==1.5.0
persist-queue==0.5.0
portend==2.6
pycparser==2.19
pyftdi==0.43.0
PyJWT==1.7.1
pynmea2==1.15.0
pyserial==3.4
pytz==2020.1
pyusb==1.0.2
six==1.14.0
sysv-ipc==1.0.1
tempora==3.0.0
zc.lockfile==2.0
