<mat-toolbar color="primary">
    <span>{{config?.id}}</span>
</mat-toolbar>

<div class="content">
    <mat-card>
        <mat-card-title>Position</mat-card-title>
        <mat-card-content>
            <p>Latitude:<br> {{lastNmea?.latitude}}</p>
            <p>Longitude:<br> {{lastNmea?.longitude}}</p>
        </mat-card-content>
    </mat-card>
    <br>
    <mat-card>
        <mat-card-title>Processes</mat-card-title>
        <mat-card-content>
            <mat-slide-toggle [(ngModel)]="gpsState" (change)="onGpsChange()">GPS</mat-slide-toggle>
            <mat-slide-toggle [(ngModel)]="senderState" (change)="onSenderChange()">Sender</mat-slide-toggle>
        </mat-card-content>
    </mat-card>
    <br>
    <mat-card>
        <mat-card-title>Configuration</mat-card-title>
        <mat-card-content>
            <mat-slide-toggle>Track mode</mat-slide-toggle>
        </mat-card-content>
    </mat-card>

    <!-- <router-outlet></router-outlet> -->
</div>