<html>
    <head>
        <title>tracker-iot</title>
    </head>
    <body>
        <form method="POST" action="/laptime">
            <select name="file" id="file">
                {% for file in files %}
                    <option value="{{ file }}">{{ file }}</option>
                {% endfor %}
            </select>
            
            <select name="track_id" id="track_id">
                {% for track in tracks %}
                    <option value="{{ track.id }}">{{ track.name }}</option>
                {% endfor %}
            </select>

            <input type="submit" value="Calculate"/>
        </form>
    </body>
</html>