<html>
    <head>
        <title>tracker-iot</title>
    </head>
    <body>
        <!-- <form method="POST" action="/laptime">
            <select name="file" id="file">
                {% for file in files %}
                    <option value="{{ file }}">{{ file }}</option>
                {% endfor %}
            </select>
            <br>
            <select name="track_id" id="track_id">
                {% for track in tracks %}
                    <option value="{{ track.id }}">{{ track.name }}</option>
                {% endfor %}
            </select>
            <br>
            <input type="submit" value="Calculate">
        </form> -->

        <form method="POST" action="/">
            <div>
                Track Mode : 
                <input type="radio" name="track_mode" id="ON" value="True" {% if track_mode %} checked {% endif %}>
                <label for="ON">ON</label>
                <input type="radio" name="track_mode" id="OFF" value="False" {% if not track_mode %} checked {% endif %}>
                <label for="OFF">OFF</label>
            </div>
            <input type="submit" value="Save">
        </form>
    </body>
</html>